
/* Position the remove link, but hide it. */
.flag-link-hlfov-confirm {
  display: none;
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: 999;
}

/* Show the link on hover event for views rows. */
.views-row:hover .flag-link-hlfov-confirm {
  display: block;
}

/* Theme hlfov throbbers. */
.hlfov-throbber .inner {
  height: 85%;
  min-height: 32px;
  margin: 5%;
  border: 2px solid #dd5;
  background: #ffe url(throbber.gif) no-repeat 50% 50%;
}

/* @todo Add support for views grid displays, and other display styles. */
